@import url('bootstrap/css/bootstrap.min.css');

::selection {
  background: #0080FF;
  text-shadow: none !important;
}
html, body {
  margin: 0;
  padding: 8px 8px 0 8px;
  height: 100%;
}

body {
    font-family: sans-serif;
    color: #333333;
    background: #ffffff;
    overflow: auto;
}

.hidden {
  display: none !important;
}

.dim > * {
  opacity: 0.4;
}
.dim .help {
  opacity: 1;
}
iframe#fsn {
  position: absolute;
  height: 100%;
  width: 100%;
  border: none;
}

button {
  cursor: pointer;
}

.help {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical;
  -webkit-user-select: none;
  user-select: none;
  font-size: 12px;
}

.help > section {
  padding: 10px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 5px #cccccc;
  position: relative;
  width: 500px;
}

.temp-value {
  font-size: 48px;
}

#data {
  padding-bottom: 8px;
}

#port { width: 50px; }
